# Supabase
VITE_SUPABASE_URL=https://slmbeartbgkihoznylly.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_TKXdtfKSmH12SYNZAOBjRg_dqwCfa14

# Servidor LAN
VITE_LAN_SERVER_URL=http://192.168.1.50

# App
VITE_APP_NAME=EduPlataforma v2.0
VITE_APP_SHORT_NAME=EduPlata

# Sync
VITE_SYNC_INTERVAL_MS=10000
VITE_SYNC_MAX_RETRIES=5
